.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
  background: #40092b;
  overflow: hidden;
  background: linear-gradient(5deg, #84092b, #40092b);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: var(--text-color);
}

main {
  display: block !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 00% 50%;
  }
}

h1 {
  font-size: 48px;
  margin-bottom: 0px;
}

h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

a {
  color: var(--text-color);
  font-style: bold;
}