@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');

main {
    display: flex !important;
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 10.4rem);
    margin: 0;
}

#timer {
    border: 20px solid #ffffff;
    border-style: solid none solid none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 126px;
    text-align: center;
}

.digit {
    position: relative;
}

.digit-out {
    animation: moveUpOut 0.25s ease-out forwards;
}

.digit-in {
    animation: moveUpIn 0.25s ease-out forwards;
}

@keyframes moveUpOut {
    from {
        bottom: 0;
    }

    to {
        bottom: 125px;
    }
}

@keyframes moveUpIn {
    from {
        bottom: -125px;
    }

    to {
        bottom: 0;
    }
}