@import url("root.css");

.game-title {
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.game-subtitle {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.game-release-date {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.game-developers {
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: var(--text-color);
}

.game-developers a {
    text-decoration: none;
    color: var(--text-color);
}


.game-developers img {
    vertical-align: top;
    margin-top: 1px;
    margin-right: -3px;
    height: 1em;
}

.game-banner {
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.game-banner img {
    pointer-events: none;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    scroll-snap-align: center;
}

.game-banner::-webkit-scrollbar {
    width: 0.5em;
}

.game-banner::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

.game-banner::-webkit-scrollbar-thumb {
    background-color: #0000007a;
}

.game-description h2 {
    font-size: 24px;
    margin-top: 0;
    color: var(--text-color);
}

.game-description p {
    font-size: 20px;
    margin-top: 0;
}

.game-description,
.game-system-req,
.game-update-info {
    margin-left: 5%;
    margin-right: 5%;
}

.game-system-req h2,
.game-update-info h2,
.game-buy h2 {
    font-size: 24px;
    margin-top: 10px;
    color: var(--text-color);
}

.game-system-req table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.game-system-req table td {
    padding: 5px;
    border: 1px solid #ccc;
    color: var(--text-color);
    width: 20%;
}

.game-price {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: var(--accent-color);
}

.game-buy {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-update-info {
    text-align: center;
    list-style-position: inside;
    padding-bottom: 10px;
}

.game-buy-btn {
    background: linear-gradient(to bottom, #e53935, #c62828);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    max-width: 200px;
    margin: 5px;
}

.game-buy-btn:hover:not([disabled]) {
    cursor: pointer;
    background-color: red;
    border: 1px solid #e53935;
}

.game-buy-btn:disabled {
    cursor: default;
}

@media only screen and (min-width: 1200px) {
    .game-banner {
        margin: 0 5%;
        scroll-snap-type: x mandatory;
    }

    .game-banner img {
        scroll-snap-align: start;
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .game-banner::-webkit-scrollbar {
        width: 0px;
    }

    .game-title {
        font-size: 36px;
    }

    .game-subtitle {
        font-size: 24px;
        margin: 10px 0 0;
    }

    .game-release-date {
        font-size: 16px;
        margin: 10px 0 0;
    }

    .game-developers {
        font-size: 14px;
        margin: 10px 0 0;
    }

    .game-info {
        padding: 20px;
    }

    .game-description h2,
    .game-system-req h2,
    .game-update-info h2,
    .game-buy h2 {
        font-size: 24px;
        margin-top: 10px;
    }

    .game-system-req td {
        padding: 5px;
    }

    .game-price {
        font-size: 24px;
    }

    .game-buy-btn {
        padding: 15px 25px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .game-banner::-webkit-scrollbar {
        width: 0px;
    }

    .game-banner::-webkit-scrollbar-track {
        background-color: #ffffff00;
    }

    .game-banner::-webkit-scrollbar-thumb {
        background-color: #00000000;
    }

    .game-developers img {
        margin-top: 2px;
        height: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .game-banner::-webkit-scrollbar {
        width: 0px;
    }

    .game-buy-btn {
        width: 100%;
    }

    .game-developers img {
        margin-top: 2px;
        height: 1rem;
    }
}