:root {
  --primary-color: #8e2de2;
  --secondary-color: #4a00e0;
  --footer-color: #1a202c;
  --accent-color: #d14faa;
  --text-color: #fff;
  --font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}