/* Global styles */
:root {
  --primary-color: #1a202c;
  --secondary-color: #6a22a9;
  --accent-color: #d14faa;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: rgb(33,32,40);
  background: linear-gradient(135deg, #2e3a83, #541a87);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: var(--text-color);
}

/* Navigation */
nav {
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


nav svg {
  max-height: 50px;
  min-width: 100px;
}

nav img {
  max-height: 50px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--accent-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 1rem;
}

/* Main content */
main {
  display: table;
  margin: 0 auto;
  text-align:justify;
}

#main-index{
  max-width: 1800px;
}

#main-about{
  display: grid;
  max-width: 800px;
  
}

#main-about a {
  color: var(--text-color);
}

#text-center{
  text-align:center;
}

h1, h2 { 
  color: var(--text-color);
  text-align: center;
  margin-top: 0px;
}


/* Games list */

#games-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
  justify-content: center;
  margin-top: 0px;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

#games-list li {
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: games-list-item-anim 0.75s ease-in-out forwards;
}

#games-list li:nth-child(1) {
  animation-delay: 0.1s;
}

#games-list li:nth-child(2) {
  animation-delay: 0.3s;
}

#games-list li:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes games-list-item-anim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#games-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#games-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #4659c37a;
  z-index: 1;
  transition: height 0.5s ease;
}

#games-list li:hover::before {
  height: 100%;
}

#games-list li > * {
  position: relative;
  z-index: 2;
}

#games-list h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px;
  text-align: center;
}

#games-list li img{
  max-width: 410px;
  max-height: 410px;
  
  transition: transform 300ms;
}

#games-list li:hover img{
  transform: scale(1.05);
}

#games-list .release-date {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 5px;
  margin-bottom: 20px;
}

#games-list .version {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  margin: 5px 0 5px;
}

#games-list .status {
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0px 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
}

/* Popup */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 60%;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: popup-anim 0.5s ease-in-out forwards;
}

@keyframes popup-anim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-content-close {
  opacity: 1;
  transform: translateY(0px);
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.popup-content h1 {
  margin-top: 10px;
  font-size: 32px;
}

.popup-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.popup-content .description{
  display: block;
}

.popup-content .descriptionLow{
  display: none;
}

.popup-content .screenshots {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 275px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.popup-content .screenshots img {
  flex-shrink: 0;
  width: auto;
  max-height: 275px; 
  object-fit: cover;
  margin-right: 10px;
}

.popup-content .version {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  margin: 0px 0 0px;
}

.popup-content .download-btn {
  background-color: #e53935;
  text-decoration: none;
  border: none;
  color: #fff;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popup-content .download-btn:hover:not([disabled]) {
  cursor: pointer;
  background-color: red;
  border: 1px solid #e53935;
}

.popup-content .download-btn:disabled {
  cursor: default;
}

body.popup-open {
  overflow: hidden;
}

/* Social links */

#social-links {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

#social-links li {
  display: inline-block;
  margin-right: 10px;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInRight 0.5s ease-out forwards;
}

#social-links li:nth-child(2) {
  animation-delay: 0.1s;
}

#social-links li:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#social-links li:last-child {
  margin-right: 0;
}

#social-links li a {
  color: var(--text-color);
}

#social-links li a:hover {
  color: var(--accent-color);
}

/* Copyright */
#copyright {
  position: fixed;
  bottom: 0;
  left: auto;
  right: 10px;
  padding: 10px;
}

#copyright img{
  height: 0.85em;
  vertical-align:top;
}

/* Contact form */
form {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 5px;
}

form textarea {
  height: 150px;
}

form button[type="submit"] {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

form button[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

/* Footer */
footer {
  background-color: #1d1d1d;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Media Queries */

@media screen and (min-width: 2600px) {

  .popup-content {
    max-width: 50%;
    padding: 15px;
  }

  .popup-content h1 {
    font-size: 42px;
  }

  .popup-content p  {
    font-size: 24px;
  }

  .popup-content .download-btn {
    font-size: 24px;
  }

  .popup-content .screenshots {
    max-height: 400px;
  }

  .popup-content .screenshots img {
    max-height: 400px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1480px) and (min-height: 800px) {

  .popup-content {
    max-width: 60%;
    padding: 13px;
  }

  .popup-content h1 {
    font-size: 28px;
  }

  .popup-content p  {
    font-size: 18px;
  }

  .popup-content .download-btn {
    font-size: 16px;
  }

  .popup-content .screenshots {
    max-height: 300px;
  }

  .popup-content .screenshots img {
    max-height: 300px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  header nav {
    margin-bottom: 1rem;
  }
  
  main {
    padding: 1rem;
    max-width: 800px;
    text-align: center;
  }
  
  #social-links li {
    margin: 0.5rem;
  }
  
  form input,
  form textarea {
    margin-bottom: 0.5rem;
  }

  #social-links {
    position:relative;
    padding: 0px;
  }

  #copyright{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
  }

  .popup-content {
    max-width: 95%;
    padding: 13px;
  }

  .popup-content h1 {
    font-size: 28px;
  }

  .popup-content p  {
    font-size: 18px;
  }

  .popup-content .download-btn {
    font-size: 16px;
  }

  .popup-content .screenshots {
    max-height: 200px; /* Уменьшаем максимальную высоту блока со скриншотами */
  }

  .popup-content .screenshots img {
    max-height: 200px; /* Уменьшаем максимальную высоту изображений скриншотов */
    margin-right: 5px; /* Уменьшаем отступ между изображениями */
  }
}

@media screen and (max-height: 1000px) and (max-width: 1480px) {
  .popup-content {
    max-width: 98%;
    padding: 13px;
  }

  .popup-content h1 {
    font-size: 26px;
  }

  .popup-content p  {
    font-size: 16px;
  }

  .popup-content .download-btn {
    font-size: 16px;
  }

  .popup-content .screenshots {
    max-height: 200px;
  }

  .popup-content .screenshots img {
    max-height: 200px;
  }
}

@media (max-width: 767px) {
  .popup-content {
    max-width: 90%;
    padding: 10px;
  }

  .popup-content h1 {
    font-size: 24px;
  }

  .popup-content p  {
    font-size: 16px;
  }


  .popup-content .screenshots {
    max-height: 200px;
  }

  .popup-content .screenshots img {
    max-height: 200px;
  }
}

@media (max-height: 820px) {
  .popup-content {
    max-width: 99%;
    padding: 3px;
  }

  .popup-content h1 {
    font-size: 20px;
  }

  .popup-content p  {
    font-size: 14px;
  }

  .popup-content .screenshots {
    max-height: 150px;
  }

  .popup-content .screenshots img {
    max-height: 150px;
  }
}

@media (max-height: 620px) {
  .popup-content {
    max-width: 99%;
    padding: 3px;
  }

  .popup-content h1 {
    font-size: 16px;
  }

  .popup-content p  {
    font-size: 14px;
  }

  .popup-content .screenshots {
    max-height: 125px;
  }

  .popup-content .screenshots img {
    max-height: 125px;
  }
}

@media screen and (max-width: 580px) {
  header h1 {
    font-size: 1.2rem;
  }
  
  main {
    padding: 1rem;
    max-width: 800px;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.25rem 0;
  }
  
  #social-links li {
    margin: 0.25rem;
  }

  #social-links {
    position:relative;
    padding: 0px;
  }

  #copyright{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
  }

  .popup-content {
    max-width: 87%;
    padding: 10px;
  }

  .popup-content h1 {
    font-size: 20px; 
  }

  .popup-content p  {
    font-size: 14px;
  }

}

@media screen and (max-height: 850px) {
  .popup-content {
    max-width: 99%;
    padding: 2px;
  }

  .popup-content h1 {
    font-size: 18px;
  }

  .popup-content p  {
    font-size: 14px;
  }

}

@media screen and (max-height: 650px) {
  .popup-content {
    max-width: 100%;
    padding: 5px;
  }

  .popup-content h1 {
    font-size: 16px;
  }

  .popup-content p  {
    font-size: 14px;
  }

}

@media screen and (max-height: 580px) {
  .popup-content {
    max-width: 100%;
    padding: 6px;
  }

  .popup-content h1 {
    margin-top: 10px;
    font-size: 22px;
  }

  .popup-content h3 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .popup-content .description {
    display:none;
  }

  .popup-content .descriptionLow{
    display:block;
    font-size: 14px;
    margin-bottom: 10px;
  }

}